<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: headv2"></head>

<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
<main>

    <div th:replace="fragments :: headerv2"></div>

    <div class="main">
        <section class="module-small">
            <div class="container">
                <div class="row">


                    <div>&nbsp;</div>

                    <div class="text-center">
                        <h2>Customer Verification</h2>
                        <h4>Congratulations! Your account has been verified.</h4>
                        <p><a th:href="@{/login}">Login Now</a></p>
                    </div>

                    <div>&nbsp;</div>

                </div>
            </div>
        </section>

    </div>
	<div th:replace="fragments :: footerv2"></div>
</main>
<div th:replace="fragments :: scriptv2"></div>

</body>
</html>