<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--
    Document Title
    =============================================
    -->
	<title>Titan | Multipurpose HTML5 Template</title>
	<!--
    Favicons
    =============================================
    -->
	<link rel="apple-touch-icon" sizes="57x57" th:href="@{/assets/images/favicons/apple-icon-57x57.png}">
	<link rel="apple-touch-icon" sizes="60x60" th:href="@{/assets/images/favicons/apple-icon-60x60.png}">
	<link rel="apple-touch-icon" sizes="72x72" th:href="@{/assets/images/favicons/apple-icon-72x72.png}">
	<link rel="apple-touch-icon" sizes="76x76" th:href="@{/assets/images/favicons/apple-icon-76x76.png}">
	<link rel="apple-touch-icon" sizes="114x114" th:href="@{/assets/images/favicons/apple-icon-114x114.png}">
	<link rel="apple-touch-icon" sizes="120x120" th:href="@{/assets/images/favicons/apple-icon-120x120.png}">
	<link rel="apple-touch-icon" sizes="144x144" th:href="@{/assets/images/favicons/apple-icon-144x144.png}">
	<link rel="apple-touch-icon" sizes="152x152" th:href="@{/assets/images/favicons/apple-icon-152x152.png}">
	<link rel="apple-touch-icon" sizes="180x180" th:href="@{/assets/images/favicons/apple-icon-180x180.png}">
	<link rel="icon" type="image/png" sizes="192x192" th:href="@{/assets/images/favicons/android-icon-192x192.png}">
	<link rel="icon" type="image/png" sizes="32x32" th:href="@{/assets/images/favicons/favicon-32x32.png}">
	<link rel="icon" type="image/png" sizes="96x96" th:href="@{/assets/images/favicons/favicon-96x96.png}">
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/favicons/favicon-16x16.png}">
	<link rel="manifest" th:href="@{/manifest.json}">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="assets/images/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<!--
    Stylesheets
    =============================================

    -->
	<!-- Default stylesheets-->
	<link th:href="@{/assets/lib/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet">
	<!-- Template specific stylesheets-->
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
	<link th:href="@{/assets/lib/animate.css/animate.css}" rel="stylesheet">
	<link th:href="@{/assets/lib/components-font-awesome/css/font-awesome.min.css}" rel="stylesheet">
	<link th:href="@{/assets/lib/et-line-font/et-line-font.css}" rel="stylesheet">
	<link th:href="@{/assets/lib/flexslider/flexslider.css}" rel="stylesheet">
	<link th:href="@{/assets/lib/owl.carousel/dist/assets/owl.carousel.min.css}" rel="stylesheet">
	<link th:href="@{/assets/lib/owl.carousel/dist/assets/owl.theme.default.min.css}" rel="stylesheet">
	<link th:href="@{/assets/lib/magnific-popup/dist/magnific-popup.css}" rel="stylesheet">
	<link th:href="@{/assets/lib/simple-text-rotator/simpletextrotator.css}" rel="stylesheet">
	<!-- Main stylesheet and color file-->
	<link th:href="@{/assets/css/style.css}" rel="stylesheet">
	<link id="color-scheme" th:href="@{/assets/css/colors/default.css}" rel="stylesheet">
	<style>
		.main .module {
			padding: 356px 0;
		}
	</style>
</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
<main>
	<div th:replace="fragments :: headerv2"></div>
	<div th:replace="fragments :: modal_dialog"></div>
	<div class="main">
		<section class="module">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<h1 class="module-title font-alt">Cart</h1>
					</div>
				</div>
				<hr class="divider-w pt-20">
				<div class="row">
					<div class="col-sm-12">
						<table class="table table-striped table-border checkout-table">
							<tbody>
							<tr>
								<th class="hidden-xs">Item</th>
								<th>Description</th>
								<th class="hidden-xs">Price</th>
								<th>Quantity</th>
								<th>Total</th>
								<th>Remove</th>
							</tr>
							<th:block th:each="item, status : ${cartItems}">
								<tr>
									<div th:with="product = ${item.product}">
										<td class="hidden-xs">
											<a href="#">
												<img th:src="@{${product.mainImagePath}}" class="img-fluid" />
											</a>
										</td>
										<td>
											<a th:href="@{'/p/' + ${product.alias}}" target="_blank" th:title="${product.name}">
												<h5 class="product-title font-alt">[[${product.shortName}]]</h5>
											</a>
										</td>
										<td class="hidden-xs">
											<h5 class="product-title font-alt">
												<th:block th:if="${product.discountPercent &lt;= 0}">
													<span>[[${#numbers.formatDecimal(product.price, 1, 'COMMA', 0, 'POINT')}]]đ</span>
												</th:block>
												<th:block th:if="${product.discountPercent > 0}">
													<span style="font-size: larger; color: darkred">[[${#numbers.formatDecimal(product.discountPrice, 1, 'COMMA', 0, 'POINT')}]]đ</span>
													<span>
														<del>[[${#numbers.formatDecimal(product.price, 1, 'COMMA', 0, 'POINT')}]]đ</del>
													</span>
												</th:block>
											</h5>
										</td>
										<td>

											<nav>
												<ul class="pagination" style="display: flex">
													<li class="page-item">
														<a class="page-link linkMinus" th:pid="${product.id}" href=""><b>-</b></a>
													</li>

													<li class="page-item"><!-- trong thymeleaf cho phép tự tạo thuộc tính bất kỳ =>sử dụng cách này để lưu giá trị mong muốn. Ví dụ: th:pid =>pid là thuộc tính tự tạo -->
														<input type="text" th:value="${item.quantity}" th:id="'quantity' + ${product.id}"
															   onkeydown="return false;"
															   class="form-control text-center" style="width: 55px" /><!-- onkeydown="return false;" =>ko thể nhập giá trị -->
													</li>

													<li class="page-item">
														<a class="page-link linkPlus" th:pid="${product.id}" href=""><b>+</b></a>
													</li>
												</ul>
											</nav>
										</td>
										<td>
											<h5 class="product-title font-alt">
												<span th:id="'subtotal' + ${product.id}" class="h4 subtotal">[[${#numbers.formatDecimal(item.subtotal, 1, 'COMMA', 0, 'POINT')}]]đ</span>
											</h5>
										</td>
										<td class="pr-remove">
											<a class="linkRemove" th:href="@{'/cart/remove/' + ${product.id}}" title="Remove">
												<i class="fa fa-times"></i>
											</a>
											<a class="fas fa-trash icon-dark linkRemove" th:rowNumber="${status.count}"
											   th:href="@{'/cart/remove/' + ${product.id}}"></a>
										</td>
									</div>
								</tr>
							</th:block>
							</tbody>
						</table>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">

					</div>
					<div class="col-sm-3">

					</div>
					<div class="col-sm-3 col-sm-offset-3">
						<form class="form-group" th:action="@{/checkout}">
							<button  class="btn btn-lg btn-block btn-round btn-d" type="submit">Proceed to Checkout</button>
						</form>
					</div>
				</div>
			</div>
		</section>

		<div th:replace="fragments :: footerv2"></div>
	</div>
	<div class="scroll-up">
		<a href="#totop">
			<i class="fa fa-angle-double-up"></i>
		</a>
	</div>
</main>
<script th:src="@{/assets/lib/jquery/dist/jquery.js}"></script>
<script th:src="@{/assets/lib/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/lib/wow/dist/wow.js}"></script>
<script th:src="@{/assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js}"></script>
<script th:src="@{/assets/lib/isotope/dist/isotope.pkgd.js}"></script>
<script th:src="@{/assets/lib/imagesloaded/imagesloaded.pkgd.js}"></script>
<script th:src="@{/assets/lib/flexslider/jquery.flexslider.js}"></script>
<script th:src="@{/assets/lib/owl.carousel/dist/owl.carousel.min.js}"></script>
<script th:src="@{/assets/lib/smoothscroll.js}"></script>
<script th:src="@{/assets/lib/magnific-popup/dist/jquery.magnific-popup.js}"></script>
<script th:src="@{/assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js}"></script>
<script th:src="@{/assets/js/plugins.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
<script type="text/javascript">
	contextPath = "[[@{/}]]";
	var csrfHeaderName = "[[${_csrf.headerName}]]";
	var csrfValue = "[[${_csrf.token}]]";

	decimalDigits = 2;
	decimalPointType = "POINT";
	thousandsPointType = "COMMA";

</script>
<script type="text/javascript" th:src="@{/js/jquery.number.min.js}"></script>
<script type="text/javascript" th:src="@{/js/shopping_cart.js}"></script>
<script type="text/javascript" th:src="@{/js/common_modal.js}"></script>
</body>
</html>