<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: head('Products - Fashion Admin')">
    <link rel="stylesheet" th:href="@{/richtext/richtext.min.css}"/>
    <script th:src="@{/richtext/jquery.richtext.min.js}"></script>
</head>


<body>

<div id="preloader">
    <div class="inner">
        <span>Loading </span>
        <div class="loading">
        </div>
    </div>
</div>


<div id="main-wrapper">

    <div th:replace="fragments :: header"></div>

    <div th:replace="fragments :: right_navbar"></div>

    <div class="content-body">

        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-8">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Order Detail</h4>
                        </div>
                        <div class="card-body" style="text-align: center;">
                            <div class="table-responsive">
                                <table class="table table-responsive-sm">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>Subtotal</th>

                                    </tr>
                                    </thead>
                                    <tbody>

                                    <th:block th:each="detail, status : ${order.orderDetails}">

                                        <tr>
                                            <th><img style="width: 50px;" th:src="@{${detail.product.mainImagePath}}"
                                                     class="img-fluid"/></th>
                                            <td><b>[[${detail.product.name}]]</b></td>
                                            <td><span class="badge badge-primary light">[[${detail.quantity}]]</span>
                                            </td>
                                            <td>
                                                <div th:replace="fragments :: format_currency(${detail.unitPrice})"/>
                                            </td>
                                            <td>
                                                <div th:replace="fragments :: format_currency(${detail.subtotal})"/>
                                            </td>

                                        </tr>

                                    </th:block>

                                    </tbody>

                                </table>
                            </div>


                            <div class="row">


                                <div class="col-xl-6">
                                    <div>
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title">Payment Method</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="basic-form" style="text-align: left;">
                                                    <h4>[[${order.paymentMethod}]]</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-xl-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Price Detail</h4>
                                        </div>
                                            <div class="card-body">
                                                <div class="basic-form">
                                                    <form th:each="detail, status : ${order.orderDetails}">
                                                        <div class="mb-3 row">
                                                            <label class="col-sm-4" style="text-align: left;">Product
                                                                Cost</label>
                                                            <div class="col-sm-8">
                                                                <div th:replace="fragments :: format_currency(${detail.productCost})"/>
                                                            </div>
                                                        </div>
                                                        <div class="mb-3 row">
                                                            <label class="col-sm-4" style="text-align: left;">Unit
                                                                Price</label>
                                                            <div class="col-sm-8">
                                                                <div th:replace="fragments :: format_currency(${detail.unitPrice})"/>
                                                            </div>
                                                        </div>
                                                        <div class="mb-3 row">
                                                            <label class="col-sm-4"
                                                                   style="text-align: left;">Subtotal</label>
                                                            <div class="col-sm-8">
                                                                <div th:replace="fragments :: format_currency(${detail.subtotal})"/>
                                                            </div>
                                                        </div>
                                                        <div class="mb-3 row">
                                                            <label class="col-sm-4" style="text-align: left;">Shipping
                                                                Cost</label>
                                                            <div class="col-sm-8">
                                                                <div th:replace="fragments :: format_currency(${detail.shippingCost})"/>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>

                </div>
                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Customer Detail</h4>
                        </div>
                        <div class="card-body">
                            <div class="basic-form">
                                <form th:action="@{/order/save}" th:object="${order}" method="post"
                                      onsubmit="return processFormBeforeSubmit();">
                                    <input type="hidden" th:field="*{id}"/>
                                    <div th:replace="orders/order_form_shipping :: content"></div>

                                    <div>
                                        <p class="text-center">
                                            <input type="submit" value="Update" class="btn btn-primary m-3"/>
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>

    </div>


</div>

<script th:src="@{/vendor/global/global.min.js}"></script>
<script th:src="@{/vendor/jquery-nice-select/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/vendor/jquery-autocomplete/jquery-ui.js}"></script>
<script th:src="@{/js/custom.min.js}"></script>
<script th:src="@{/js/dlabnav-init.js}"></script>
<script th:src="@{/js/demo.js}"></script>
<script th:src="@{/vendor/ckeditor/ckeditor.js}"></script>

<script th:src="@{/js/common_form.js}"></script>
<script th:src="@{/js/common_form_country_state.js}"></script>
<script th:src="@{/js/jquery.number.min.js}"></script>
<script th:src="@{/js/order_form_overview_products.js}"></script>
<script th:src="@{/js/order_form_remove_product.js}"></script>

<script type="text/javascript">
    contextPath = "[[@{/}]]";
    var csrfHeaderName = "[[${_csrf.headerName}]]";
    var csrfValue = "[[${_csrf.token}]]";

    $(document).ready(function () {
        $('#buttonCancel').click(function () {
            window.location = "[[@{/orders}]]";
        });

    });
</script>
</body>

</html>