<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-US" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--
    Document Title
    =============================================
    -->
	<title>Titan | Multipurpose HTML5 Template</title>
	<!--
    Favicons
    =============================================
    -->
	<link rel="apple-touch-icon" sizes="57x57" th:href="@{/assets/images/favicons/apple-icon-57x57.png}">
	<link rel="apple-touch-icon" sizes="60x60" th:href="@{/assets/images/favicons/apple-icon-60x60.png}">
	<link rel="apple-touch-icon" sizes="72x72" th:href="@{/assets/images/favicons/apple-icon-72x72.png}">
	<link rel="apple-touch-icon" sizes="76x76" th:href="@{/assets/images/favicons/apple-icon-76x76.png}">
	<link rel="apple-touch-icon" sizes="114x114" th:href="@{/assets/images/favicons/apple-icon-114x114.png}">
	<link rel="apple-touch-icon" sizes="120x120" th:href="@{/assets/images/favicons/apple-icon-120x120.png}">
	<link rel="apple-touch-icon" sizes="144x144" th:href="@{/assets/images/favicons/apple-icon-144x144.png}">
	<link rel="apple-touch-icon" sizes="152x152" th:href="@{/assets/images/favicons/apple-icon-152x152.png}">
	<link rel="apple-touch-icon" sizes="180x180" th:href="@{/assets/images/favicons/apple-icon-180x180.png}">
	<link rel="icon" type="image/png" sizes="192x192" th:href="@{/assets/images/favicons/android-icon-192x192.png}">
	<link rel="icon" type="image/png" sizes="32x32" th:href="@{/assets/images/favicons/favicon-32x32.png}">
	<link rel="icon" type="image/png" sizes="96x96" th:href="@{/assets/images/favicons/favicon-96x96.png}">
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/favicons/favicon-16x16.png}">
	<link rel="manifest" th:href="@{/manifest.json}">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="assets/images/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<!--
    Stylesheets
    =============================================

    -->
	<!-- Default stylesheets-->
	<link th:href="@{/assets/lib/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet">
	<!-- Template specific stylesheets-->
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
	<link th:href="@{/assets/lib/animate.css/animate.css}" rel="stylesheet">
	<link th:href="@{/assets/lib/components-font-awesome/css/font-awesome.min.css}" rel="stylesheet">
	<link th:href="@{/assets/lib/et-line-font/et-line-font.css}" rel="stylesheet">
	<link th:href="@{/assets/lib/flexslider/flexslider.css}" rel="stylesheet">
	<link th:href="@{/assets/lib/owl.carousel/dist/assets/owl.carousel.min.css}" rel="stylesheet">
	<link th:href="@{/assets/lib/owl.carousel/dist/assets/owl.theme.default.min.css}" rel="stylesheet">
	<link th:href="@{/assets/lib/magnific-popup/dist/magnific-popup.css}" rel="stylesheet">
	<link th:href="@{/assets/lib/simple-text-rotator/simpletextrotator.css}" rel="stylesheet">
	<!-- Main stylesheet and color file-->
	<link th:href="@{/assets/css/style.css}" rel="stylesheet">
	<link id="color-scheme" th:href="@{/assets/css/colors/default.css}" rel="stylesheet">

	<style>
		.main .module{
			padding: 356px 0;
		}
	</style>
</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
<main>
	<div th:replace="fragments :: headerv2"></div>

	<div class="main">
		<section class="module bg-dark-60 shop-page-header" th:data-background="@{/assets/images/shop/SUMMER-3.png}">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">

					</div>
				</div>
			</div>
		</section>


		<hr class="divider-w">
		<section class="module-small">
			<div class="container">
				<div class="row multi-columns-row">

					<th:block th:each="product : ${listProducts}">
						<div class="col-sm-6 col-md-4 col-lg-4">
							<div class="shop-item">
								<div class="shop-item-image"><img th:src="@{${product.mainImagePath}}" style="height: 410px" alt="Accessories Pack"/>
									<div class="shop-item-detail"><a th:href="@{${product.URI}}" class="btn btn-round btn-b">See More</a></div>
								</div>
								<h4 class="shop-item-title font-alt"><a th:href="@{${product.URI}}">[[${product.shortName}]]</a></h4>
								<div th:replace="fragments :: format_currency(${product.price})" />
							</div>
						</div>
					</th:block>

				</div>


				<div class="row">
					<div class="col-sm-12">
						<div class="pagination font-alt">
							<div th:replace="fragments :: pagination('/c/' + ${category.alias}, 'products')"></div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div th:replace="fragments :: footerv2"></div>
	</div>
	<div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>


</main>
<!--
JavaScripts
=============================================
-->
<script th:src="@{/assets/lib/jquery/dist/jquery.js}"></script>
<script th:src="@{/assets/lib/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/lib/wow/dist/wow.js}"></script>
<script th:src="@{/assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js}"></script>
<script th:src="@{/assets/lib/isotope/dist/isotope.pkgd.js}"></script>
<script th:src="@{/assets/lib/imagesloaded/imagesloaded.pkgd.js}"></script>
<script th:src="@{/assets/lib/flexslider/jquery.flexslider.js}"></script>
<script th:src="@{/assets/lib/owl.carousel/dist/owl.carousel.min.js}"></script>
<script th:src="@{/assets/lib/smoothscroll.js}"></script>
<script th:src="@{/assets/lib/magnific-popup/dist/jquery.magnific-popup.js}"></script>
<script th:src="@{/assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js}"></script>
<script th:src="@{/assets/js/plugins.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>

<script type="text/javascript">
	moduleURL = "[[@{/products}]]";

	$(document).ready(function() {

		$("#dropdownCategory").on("change", function() {
			$("#searchForm").submit();//khi thay đổi giá trị của dropdown thì sẽ submit form
		});

	});
</script>
</body>
</html>